<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RouteAdvisorBundle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>RouteAdvisorFrameWork.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6F1FE8E01AF918C0008ED78E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F95DA221AF1173500F2BE26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F95DA2D1AF1173500F2BE26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
